<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Date</h1>
    <p>Today <%= locals.today %></p>
    <% if(locals.other){ %>
        <p>Dans <%= locals.n  %> jours,nous serons le <%= locals.other %></p>

    <% } %>
    <!-- Create a form number of day-->
    <form action="/date" method="post">
        <p> <input type="number" name="nombre"></p>
        <p>
            <button type="submit">Go</button>
        </p>
    </form>
</body>
</html>