<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>

</head>

<body>
    <%- include('partials/header') %>
        <h1>Game</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Plateform</th>
                    <th>Création</th>
                    <th>Modification</th>
                </tr>
            </thead>
            <tbody>
                <% posts.forEach( (p)=> { %>
                    <tr>
                        <td>
                            <%= p.id %>
                        </td>
                        <td>
                            <%= p.name %>
                        </td>
                        <td>
                            <%= p.platform %>
                        </td>
                        <td>
                            <%= p.created.fromNow() %>
                        </td>
                        <td>
                            <%= p.modified.fromNow() %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <form action="/addgame" method="post">
            <p>
                <input type="text" name="name" placeholder="Nom du jeu">
            </p>
            <p>Platforme :</p>
            <ul>
                <li>
                    <input type="checkbox" name="platforms" value="PC" id="pc">
                    <label for="pc">PC</label>
                </li>
                <li>
                    <input type="checkbox" name="platforms" value="PS4" id="PS4">
                    <label for="PS4">PS4</label>
                </li>
                <li>
                    <input type="checkbox" name="platforms" value="PS5" id="PS5">
                    <label for="PS5">PS5</label>
                </li>
                <li>
                    <input type="checkbox" name="platforms" value="XBOX" id="XBOX">
                    <label for="XBOX">XBOX</label>
                </li>
                <li>
                    <input type="checkbox" name="platforms" value="Switch" id="Switch">
                    <label for="Switch">Switch</label>
                </li>
                <li>
                    <input type="checkbox" name="platforms" value="Autre" id="autre">
                    <label for="autre">Autre</label>
                </li>

            </ul>
            <p>
                <button type="submit">Go</button>
            </p>
        </form>
</body>

</html>